# Base de données PostgreSQL
POSTGRES_USER=safebase_user
POSTGRES_PASSWORD=safebase_password
POSTGRES_DB=safebase_db

# Configuration Sécurité Backend
JWT_SECRET=chaine_secrete_a_changer_en_production

# URLs des services (communication inter-conteneurs)
GO_WORKER_URL=http://worker-go:8080
VITE_API_URL=http://localhost:3000
